{% load i18n admin_urls static admin_modify project_tags %}

<div class="js-inline-admin-formset inline-group" id="{{ condition_formset.formset.prefix }}-group"
     data-inline-type="tabular"
     data-inline-formset="{{ condition_formset.inline_formset_data }}">

  <div class="tabular inline-related">

  {{ condition_formset.formset.management_form }}
  {{ commitment_formset.formset.management_form }}
  {{ project_objective_formset.formset.management_form }}

    <fieldset class="module {{ condition_formset.classes }}" aria-labelledby="{{ condition_formset.formset.prefix }}-heading">

      {{ condition_formset.formset.non_form_errors }}

      <table class="objectives">

        <tbody>


          {% regroup condition_formset by form.instance.projectobjective as condition_objectives %}
          {% regroup commitment_formset by form.instance.objective as commitment_objectives %}

          {% pack project_objective_formset condition_objectives commitment_objectives as objectives %}

          {% for objective_form, condition_project_objective_formset, commitment_project_objective_formset in objectives %}

            <tr class="hidden">
              <td>
              {% if objective_form.needs_explicit_pk_field %}{{ objective_form.pk_field.field }}{% endif %}
              {% if objective_form.fk_field %}{{ objective_form.fk_field.field }}{% endif %}
              </td>
            </tr>

            <tr class="objective">
              <td class="objective name" colspan="{{ work_cycles|length|add:"2" }}">{{ objective_form.original.name }}</td>
            </tr>

            <tr>
              <td colspan="2">{{ objective_form.original.description|default:"" }}</td>
              <td class="commitment-blank" colspan="{{ work_cycles|length }}"></td>
            </tr>

            <tr>
              <td class="{{ objective_form.original.status|lower|slugify }}" colspan="1">
                {{ objective_form.original.status }}
              </td>
              <td></td>
              <td class="commitment-blank" colspan="{{ work_cycles|length }}"></td>
            </tr>

            <tr>
              <td colspan="1">{{ objective_form.form.if_not_started }}</td><td></td>
              {% for work_cycle in work_cycles %}<td class="workcycle">{{ work_cycle }}</td>{% endfor %}
            </tr>


            {% regroup condition_project_objective_formset.list by form.instance.level as commitment_condition_formset %}
            {% regroup commitment_project_objective_formset.list by form.instance.level as commitment_levels %}

            {% pack commitment_condition_formset commitment_levels as commitments %}

            {% for level_formset, commitment_level_formset in commitments %}

              <tr class="level">
                <td colspan="2">{{ level_formset.grouper }}</td>
                {% for inline_admin_form in commitment_level_formset.list %}
                    {% include "admin/edit_inline/inline_fields.html" %}
                {% endfor %}
              </tr>

              {% include "admin/edit_inline/project-objective-condition-rows.html" %}

            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </div>
</div>


