table.objectives td {border-bottom: none;}
table.objectives tr {background: var(--body-bg)}
table.objectives tr.objective td.name {background-color: #205067; color: white; font-weight: bold;}
table.objectives tr.level {background-color: #f0f0f0; font-weight: bold;}

table.objectives td, th {padding: 4px 8px 4px;}
table.objectives tr.condition td, th {padding: 2px 8px 2px;}

table.objectives td p, th p {margin: .2rem 0}

table.objectives select {height: 1.2rem;}
table.objectives select {height: 1.2rem; padding: 0px 6px;}  /* padding is required for Chrome for some reason */

table.objectives td.workcycle {color: white; background: #6AA84F;}
table.objectives td.field-committed {color: white; background: #93C47D;}
table.objectives td.commitment-blank {color: white; background: #D9EAD3;}

table.objectives td.no-activity {outline: 1px solid black;}
table.objectives td.planned {color: black; background: #FFF2CC}
table.objectives td.deferred {color: black; background: #FCE5CD}
table.objectives td.blocked, td.inactive {color: black; background: #EAD1DC}
table.objectives td.started {color: black; background: #B6D7A8}
table.objectives td.first-results {color: black; background: #6AA84F}
table.objectives td.mature-results, td.done, td.all-ok {color: white; background: #38761D}
