body {
    font-family: Helvetica, sans-serif; font-size: 12px;}

table {  
    table-layout: fixed;
    border-collapse: collapse;
}

tr.headings {background: #0C333D; color: white;}
tr.headings a, tr.headings a:visited {color: white}
tr.headings th {rotate: -45deg; white-space: normal}
th, td {padding: 5px; text-align: left; font-weight: normal; white-space: nowrap;}

table a, table a:visited {color: inherit; text-decoration: none}

td.na {color: black; background: #CCCCCC}
td.paused {color: black; background: #FCE5CD}
td.planned {color: black; background: #FFF2CC}
td.deferred {color: black; background: #FCE5CD}
td.blocked, td.inactive {color: black; background: #EAD1DC}
td.needs-work {color: black; background: #E66439}
td.needs-review {color: black; background: #E69138}
td.mostly-met {color: black; background: #E69138}
td.started {color: black; background: #B6D7A8}
td.first-results {color: black; background: #6AA84F}
td.mature-results, td.done, td.all-ok {color: white; background: #38761D}

td.new {color: white; background: #38761D}
td.acceptable {color: white; background: #B5D7A8}
td.overdue {color: white; background: #F6B26B}
td.unacceptable {color: white; background: #990001}