{% if inline_admin_form.form.non_field_errors %}
  <td>{{ inline_admin_form.form.non_field_errors }}</td>
{% endif %}

<td class="hidden">
  {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
  {% if inline_admin_form.fk_field %}{{ inline_admin_form.fk_field.field }}{% endif %}
</td>

{% for fieldset in inline_admin_form %}
  {% for line in fieldset %}
    {% for field in line %}
      <td class="{% if field.field.name %}field-{{ field.field.name }}{% endif %}{% if field.field.is_hidden %} hidden{% endif %}">
        {% if field.is_readonly %}
          <p>{{ field.contents }}</p>
        {% else %}
          {{ field.field.errors.as_ul }}
          {{ field.field }}
        {% endif %}
      </td>
    {% endfor %}
  {% endfor %}
{% endfor %}
