{% load i18n admin_urls static admin_modify %}

{% for inline_admin_form in level_formset.list %}

  {% if inline_admin_form.form.non_field_errors %}
    <tr class="row-form-errors">
      <td colspan="{{ inline_admin_form|cell_count }}">{{ inline_admin_form.form.non_field_errors }}</td>
    </tr>
  {% endif %}

  <tr class="hidden">
    <td>
      {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
      {% if inline_admin_form.fk_field %}{{ inline_admin_form.fk_field.field }}{% endif %}
    </td>
  </tr>

  <tr class="condition">
    {% for fieldset in inline_admin_form %}
      {% for line in fieldset %}
        {% for field in line %}
          <td class="{% if field.field.name %}field-{{ field.field.name }}{% endif %}{% if field.field.is_hidden %} hidden{% endif %}">
            {% if field.is_readonly %}
              <p>{{ field.contents }}</p>
            {% else %}
              {{ field.field.errors.as_ul }}
              {{ field.field }}
            {% endif %}
          </td>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  <td class="commitment-blank" colspan="{{ work_cycles|length }}"></td>
  </tr>
{% endfor %}