{% extends "base.html" %}

{% load project_tags %}


{% block content %}
  <div class="wrapper">
    <table class="table-auto">

      <tr class="headings">
        <th scope="col" class="sticky acountability">Project</th>
        <th scope="col" class="acountability">Owner</th>
        <th scope="col" class="acountability">Driver</th>

        <th scope="col" class="quality">Last review</th>
        {% for workcycle in workcycle_list %}
          <th scope="col" class="quality">
            <a href="{% url 'admin:framework_workcycle_change' workcycle.id %}">{{ workcycle.name }}</a>
          </th>
        {% endfor %}
        <th scope="col" class="quality">QI</th>
        <th scope="col" class="quality">Expectations review</th>

        {% for objective in objective_list %}
          <th scope="col" class="objective">
            <a href="{% url 'admin:framework_objective_change' objective.id %}">{{ objective.name }}</a>
          </th>
        {% endfor %}
      </tr>

      <tr class="column-groups">
        <td class="acountability" colspan="3"></td>
        <td class="quality" colspan="{{ quality_cols_count }}">Progress and quality</td>
        {% regroup objective_list by group as objectives %}
        {% for group in objectives %}
          <td class="objective" colspan="{{ group.list|length }}">{{ group.grouper }}
        {% endfor %}
      </tr>

      {% regroup object_list by group as projects %}

      {% for group in projects %}
        <tr class="row-group"><td colspan="{{ column_count }}">{{ group.grouper }}</td></tr>
        {% for project in group.list %}

          <tr>
            <th class="sticky project-name" scope="row">
              <a href="{% url 'admin:projects_project_change' project.id %}">{{ project }}</a>
            </th>
            <td><a href="{% url 'admin:projects_project_change' project.id %}">{{ project.owner }}</a></td>
            <td><a href="{% url 'admin:projects_project_change' project.id %}">{{ project.driver|default:"" }}</a></td>
            <td class="{{ project.review_freshness }}">
              <a href="{% url 'admin:projects_project_change' project.id %}">{{ project.last_review|default:"never" }}</a>
            </td>

            {% for qi in project.quality_history %}<td>{{ qi.value }}</td>{% endfor %}

            <td><a href="{% url 'admin:projects_project_change' project.id %}">{{ project.quality_indicator }}</a></td>
            <td class="{{ project.last_review_status|slugify }}"><a href="{% url 'admin:projects_project_change' project.id %}">{{ project.last_review_status }}</a></td>

            {% for objective in project.projectobjective_set.all %}
              <td class="{{ objective.status_slug }}">
                <a href="{% url 'admin:projects_project_change' project.id %}">
                  {{ objective.status|default:"---" }}
                </a>
              </td>
            {% endfor %}

          </tr>
        {% endfor %}
      {% endfor %}
    </table>
  </div>
{% endblock %}
